<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Single Hashtag</title>
    <link rel="icon" href="/assets/icon.png">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/layout.css" />
</head>

<body>
<div class="container">
    <header class="header">
        <h1 class="header__title">Surviving Coding Boot Camp</h1>
        <nav class="header__nav">
            <div class="header__nav-item"><a href="/" class="header__nav-link">Home</a></div>
            <div class="header__nav-item"><a href="/hashtags" class="header__nav-link">Hashtags</a></div>
        </nav>
    </header>
    <div class="container__body">
        <div class="container___body__info2">

            <h1 th:text="${hashtag.getName()}">Hashtag</h1>
            <h3 th:each="post: ${hashtag.posts}">
                <a th:text="${post.title}" th:href="@{'/posts/' + ${post.id}}">Post</a>
            </h3> <br>

        </div>
    </div>
</div>

</body>

</html>